

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Home/LayoutDashboard.cshtml";
}



<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Dashboard Lecturer - @Session["FirstName"].ToString() @Session["LastName"].ToString()</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("DashboardLecturer", "Home")">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </div>
    </div>
</div>